

.jo_table {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--fontColorNormal);
    width: 100%;
    user-select: none;
    margin-bottom: 5px;
}

.jo_tableheader {
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    width: 100%;
    cursor: pointer;
}

.jo_tableheaderlink {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.jo_tableheaderlink:hover {
    color: var(--fontColorLight);
}

.jo_tableheaderlink:active {
    font-weight: bold;
}

.jo_tablesize {
    color: var(--error-filename);
    margin-right: 5px;
}

.jo_references {
    color: var(--speedcontrol-grip);
}

.jo_dbtype {
    margin-left: 5px;
    color: var(--linecolumn);
}

.jo_dbnotnull {
    margin-left: 5px;
    color: var(--error-position);
}

.jo_dbdefault {
    margin-left: 5px;
    color: var(--scrollbar-thumb-active);
}

.jo_dbautoincrement {
    margin-left: 5px;
    color: #af25af;
}

.jo_columnlist {
    padding-left: 33px;
    display: flex;
    flex-direction: column;
}

.jo_column {
    display: flex;
    flex-direction: row;
}

.jo_db_tree {
    overflow-y: auto;
}