#jo_ds_create_database_button {
    background-color: green;
}

.jo_createDatabaseDescription {
    margin-left: 5px;
}

.jo_cdtabheading {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    margin-top: 20px;
}

.jo_templateListEntry {
    display: flex;
    flex-direction: column;
    width: calc(100% - 10px);
    padding: 2px 5px;
    border-bottom: 1px solid gray;
    user-select: none;
}

.jo_templateListEntry:hover {
    background-color: var(--file-hover);
    color: var(--fontColorLight);
    cursor: pointer;
}

.jo_templateListEntry.jo_active {
    background-color: var(--file-active);
    color: var(--fontColorLight);
}

.jo_templateListEntry.jo_active:hover {
    background-color: var(--file-active-hover);
}


.jo_tle_secondline {
    font-size: 60%;
}

#dialog .ds_databasedialog {
    align-items: left;
}

.jo_ds_secret_table button {
    margin-left: 10px;
    background-color: rgb(85, 85, 236);
}

.jo_ds_secret {
    font-family: 'Consolas', 'Roboto Mono', sans-serif;
    color: rgb(196, 170, 25);
    margin-left: 10px;
}

#jo_ds_save_button{
    background-color: green;
}

#jo_ds_publishedTo input, #jo_ds_publishedTo label {
    cursor: pointer;
    user-select: none;
}

.jo_tle_ownername {
    color:brown
}

.jo_tle_secondline {
    font-size: 80%;
    font-style: italic;
    color:burlywood
}

.jo_ds_settings_description {
    width:500px;
    height: 100px;
    margin-left: 10px;
}

.jo_copy_secret_button {
    font-size: 100%;
    padding: 2px;
    background-color: #59ca85 !important;
    border: none;
    margin: 5px 20px;    
}

.jo_createDatabaseFromTemplateTab {
    position: relative;
    height: 100%;
}

.jo_templatelist {
    padding: 10px;
    height: 400px;
    overflow: auto;
}
